[general]
APP_NAME = Text Assembler
TIME_ZONE = America/Detroit
MAINTAINER_EMAILS = schanzme@msu.edu, schanzme@lib.msu.edu
STORAGE_LOCATION = /mnt/textassembler
# NOTIF_EMAIL_DOMAIN should be the end part of the email address to use for
# constructing user email addresses. The first part will be the USER_ID_FIELD
# returned from OAuth. Ex: schanzme@msu.edu. If blank, no notification
# emaikls will be sent for completed/failed searches
NOTIF_EMAIL_DOMAIN = msu.edu
# If set to true, all notification emails will have the MAINTAINER_EMAILS BCC'd
BCC_MAINTAINERS_ON_NOTIF = true

[database.default]
ENGINE = django.db.backends.mysql
NAME = name
USER = user
PASSWORD = password
HOST = host
PORT = 3306
ATOMIC_REQUESTS = true

[hosts]
ALLOWED_HOSTS = textassembler.lib.msu.edu
# PREFERED_HOST_URL is used for notification emails to indicate the URL they should use to check their searches
PREFERED_HOST_URL = https://textassembler.lib.msu.edu

[debug]
DEBUG = true

[secretkey]
SECRET_KEY = secretkey

[lexisnexis]
TOKEN_URL = https://auth-api.lexisnexis.com/oauth/v2/token
CLIENT_ID = client_id
CLIENT_SECRET = secret
SCOPE = http://oauth.lexisnexis.com/all
API_URL = https://services-api.lexisnexis.com/v1/
DOWNLOAD_PER_CALL = 10
MAX_RETRY = 3
TIMEOUT_SECONDS = 30
# PREVIEW_FORMAT valid values: EXTRACT, FULL
PREVIEW_FORMAT = FULL
# The number of months completed searches should be retained
NUM_MONTHS_KEEP_SEARCHES = 3

[oauth]
AUTH_URL = https://oauth.itservices.msu.edu/oauth/authorize
TOKEN_URL = https://oauth.itservices.msu.edu/oauth/token
PROFILE_URL = https://oauth.itservices.msu.edu/oauth/me
LOGOUT_URL = https://oauth.itservices.msu.edu/oauth/logout 
CLIENT_ID = client_id
CLIENT_SECRET = client_secret
REDIRECT_URL = https://textassembler.lib.msu.edu/login
USER_ID_FIELD = msunetid
