[database.default]
ENGINE = django.db.backends.mysql
NAME = name
USER = user
PASSWORD = password
HOST = host
PORT = 3306
ATOMIC_REQUESTS = true

[hosts]
allowed_hosts = textassembler.lib.msu.edu

[debug]
debug = true

[secretkey]
SECRET_KEY = secretkey

[general]
TIME_ZONE = America/Detroit

[lexisnexis]
token_url = https://auth-api.lexisnexis.com/oauth/v2/token
client_id = client_id
client_secret = secret
scope = http://oauth.lexisnexis.com/all
api_url = https://services-api.lexisnexis.com/v1/

