[general]
APP_NAME = Text Assembler
TIME_ZONE = America/Detroit
MAINTAINER_EMAILS = schanzme@msu.edu, schanzme@lib.msu.edu

[database.default]
ENGINE = django.db.backends.mysql
NAME = name
USER = user
PASSWORD = password
HOST = host
PORT = 3306
ATOMIC_REQUESTS = true

[hosts]
ALLOWED_HOSTS = textassembler.lib.msu.edu

[debug]
DEBUG = true

[secretkey]
SECRET_KEY = secretkey

[lexisnexis]
TOKEN_URL = https://auth-api.lexisnexis.com/oauth/v2/token
CLIENT_ID = client_id
CLIENT_SECRET = secret
SCOPE = http://oauth.lexisnexis.com/all
API_URL = https://services-api.lexisnexis.com/v1/

