{% block footer %}
<footer>
    <div class="content-wrapper container">
        <div id="MSUstandardFooter" class="MSUwrapper light-background"  role="contentinfo">
            <div class="fourMSUcolumns" id="standard-footer-MSU-wordmark">
                    <a href="https://www.msu.edu">
                        <img class="screen-msuwordmark" alt="Michigan State University Wordmark" src="https://cdn.cabs.msu.edu/brand/images/msu-wordmark-green.svg"/>
                    </a>
            </div>
            <div class="twelveMSUcolumns">
                <div id="standard-footer-site-links">
                    <ul>
                        <li>Call us: <strong>(800) 500-1554</strong></li>
                        <li><a href="https://www.lib.msu.edu/contact/">Contact Information</a></li>
                        <li><a href="https://www.lib.msu.edu/atoz/">Site A to Z</a></li>
                        <li><a href="https://www.lib.msu.edu/about/privacystmt/">Privacy Statement</a></li>
                        <li><a href="https://www.lib.msu.edu/general/site-accessibility/" rel="nofollow">Site Accessibility</a></li>
                    </ul>
                </div>
                <div id="standard-footer-MSU-info">
                    <ul>
                        <li>Call MSU: <span class="msu-phone"><strong>(517) 355-1855</strong></span></li>
                        <li>Visit: <strong><a href="https://msu.edu">msu.edu</a></strong></li>
                        <li>MSU is an affirmative-action, equal-opportunity employer. </li>
                        <li><a href="https://oie.msu.edu/" rel="nofollow"><span class="msu_footer_green">Nondescrimination (OIE)</span></a></li>
                    </ul>
                    <ul>
                        <li class="spartans-will">Spartans Will.</li>
                        <li>&#169; Michigan State University</li>                     
                    </ul>
                </div>
            </div>
         </div>
    </div>
</footer>
{% endblock %}


