{% block header %}
{% load custom_tags %}
<div id="mlibHeader" class="s-lib-side-borders">
    <div id="mlibMast">
        <div id="mLib" >
            <span class="head">
              <a href="https://lib.umich.edu"><img src="static/MLibLogo-color-1-5.png" alt="University of Michigan Library"></a>
            </span>
        </div>
        <div id="mlibApp" >
            <span class="head">
                <a href="/">{% app_name %}</a>
            </span>
        </div>
        <div class="toplinks">
            <ul>
                <li><a href="https://www.lib.umich.edu/ask-librarian" rel="nofollow">Ask a Librarian</a></li>
                <li><a href="https://www.lib.umich.edu/my-account" id="AccountLink" rel="nofollow">Account</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

