{% block header %}
<div id="msulPhoto" class="row"></div>
<div id="msulHeader" class="container s-lib-side-borders">
    <div id="msuMast">
        <a href="https://msu.edu"><img src="https://www.lib.msu.edu/sites/all/themes/msul_omega/images/masthead-helmet-white.png" width="298" height="34" alt="Michigan State University"></a>
        <div class="toplinks">
            <ul>
                <li><a href="https://lib.msu.edu/contact/askalib" rel="nofollow">Ask a Librarian</a></li>
                <li><a href="https://lib.msu.edu/general/account" id="AccountLink" rel="nofollow">Account</a></li>
                <li><a href="https://bookings.lib.msu.edu/calendar/events" rel="nofollow">Events</a></li>
            </ul>
        </div>
    </div>
    <div id="msulHeaderText">
        <div id="msuLib" >
            <h2>
                <a href="https://lib.msu.edu">MSU Libraries</a>
            </h2>
        </div>
        <div id="msulApp" >
            <h2>
                <a href="/">Text Assembler</a>
            </h2>
        </div>
    </div>
</div>
{% endblock %}

