{% extends 'base.html' %}

{% load humanize %}
{% load custom_tags %}

{% block content %}

<h2>My Searches</h2><hr/>

<p><strong>Instructions:</strong> This page contains your already queued searches. Each record will display its current status and offer you the ability to download or delete your search. Searches will automatically be deleted from the system after {{ num_months_keep_searches }} months. The exact date each search will be removed is located in the details section of the progress column. </p>

{% if error_message %}
<br/><p class='error'>{{ error_message }}</p>
{% endif %}
<br/>
{% include 'textassembler_web/searches_grid.html' %}
{% endblock %}
