{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load custom_tags %}
{% load humanize %}

{% block content %}
    <h1>Search</h1>
    
    <form method="post" novalidate>
        <input type='hidden' display="none" id='id_form-TOTAL_FORMS' value="1"/>
        {% csrf_token %}
        <div class="row form-row spacer">
            <div class="col-2">
                <label>{{form.search.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.search}}
                </div>
            </div>
            <span class='required'>&nbsp;*</span>
        </div>
        <div class="row form-row spacer">
            <div class="col-2">
                <label>{{form.filter_opts.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.filter_opts}}
                </div>
            </div>
        </div>
        <div class="search_filters">
        </div>
        <div class="row spacer">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Search</button>
            </div>
        </div>
        <input type="hidden" id="post_data" value="{{ post_data }}" />
    </form>

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class='error'> Error! {{ field.label }}: {{ error }} </p>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if error_message %}
    <br/><p class='error'>{{ error_message }}</p>
    {% endif %}

    {% if search_results %}
        {% if search_results.value|length == 0 %}
            <br/>
            <span class='result-count'>Your search returned 0 results. Please review your filter 
            criteria and try again.</span>
        {% else %}
            <br/>
            <span class='result-count'>{{ search_results.count | intcomma }} result(s) found. Showing only the first {{search_results.value | length }} result(s).</span><br/><hr/>
            <h2>Search Results</h2>
            {% for result in search_results.value %}
                <div class='result'>
                    <span class='title'>{{ result.Title }}</span><br/>
                    <span class='field-title'>Date: </span><span class='date'>{{ result.Date|parse_iso|date:"F jS Y" }}</span>
                    <span class='field-title overview-title'>Overview: </span><span class='overview'>{{ result.Overview }}</span><br/>
                    {% for extract in result.Extracts %}
                    <span class='field-title'>Extract: <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#extract-{{forloop.parentloop.counter}}-{{forloop.counter}}">Show/Hide</button></span><br/>
                    <div class='extract collapse' id='extract-{{forloop.parentloop.counter}}-{{forloop.counter}}'>{{ extract.SummaryText | safe }}</div><br/>
                    {% endfor %}
                </div>
            {% endfor %}

            <!-- Post Filters -->
            <hr/>
            <h2 class='avail-post-filters'>Facets:</h2>
            {% for filterName, filterValues in search_results.postFilters.items %}
                <div class='post-filter'>
                    <span class='post-filter-title'>{{ filterName }}
                        <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#postFilterGroup{{forloop.counter}}">Show/Hide</button>
                    </span>
                    <span class='post-filter-val collapse' id='postFilterGroup{{forloop.counter}}'>
                    {% for valueName, value in filterValues.items %}
                            {{ valueName }} <span class='badge'>{{ value.Count | intcomma }} </span>{% if not forloop.last %} , {% endif %}
                    {% endfor %}
                    </span>
                </div>
            {% endfor %}
       {% endif %} 
    {% endif %}

{% endblock %}

