{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load custom_tags %}
{% load humanize %}

{% block content %}
    <h1>Search</h1><hr/>
    
    <p><strong>Instructions:</strong> Construct your search applying filters as required to narrow your results. If preview results look appropriate, you may queue the search for download. Downloading is queued for nights and weekends. Please plan ahead to ensure sufficient time to retrieve results. For more information on how to construct more effective searches see <a href="#"  data-toggle="modal" data-target="#tipModal">these tips</a>.</p>

    <form method="post" novalidate>
        <input type='hidden' display="none" id='id_form-TOTAL_FORMS' value="1"/>
        {% csrf_token %}
        <div class="row form-row spacer">
            <div class="col-4">
                <label>{{form.search.label}}</label>
            </div>
            <div class="col-6">
                <div class="input-group">
                    {{form.search}}
                </div>
            </div>
            <span class='required'>&nbsp;*</span>
        </div>
        <div class="row form-row spacer">
            <div class="col-4">
                <label>{{form.filter_opts.label}}</label>
            </div>
            <div class="col-6">
                <div class="input-group">
                    {{form.filter_opts}}
                </div>
            </div>
        </div>
        <div class="search_filters">
        </div>
        <div class="row spacer">
            <div class="col-6 offset-4">
                <button type="submit" name='preview-search' class="btn btn-block btn-primary">Preview Search</button>
            </div>
        </div>
        <input type="hidden" id="post_data" value="{{ post_data }}" />
        <input type="hidden" id="result_data" name='result_data' value="{{ search_results_json }}" />

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class='error'> Error! {{ field.label }}: {{ error }} </p>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if error_message %}
    <br/><p class='error'>{{ error_message }}</p>
    {% endif %}
    <hr/>

    <!-- SEARCH RESULTS -->
    {% if search_results %}
        {% if search_results.value|length == 0 %}
            <br/>
            <span class='result-count'>Your search returned <strong>0</strong> results. Please review your filter 
            criteria and try again.</span>
        {% else %}
            <h2>Queue Search For Full Download</h2>
            <p>Be sure to review the preview of the results below to ensure that you are happy with the filters before queueing the full seach. 
            The number of days to complete the download is estimated based on the number of other searches in the queue and the number of 
            allowed downloads per day by LexisNexis.</p>
            <div class='queue-search'>
                    <div class='input-group radio'>
                        <label><input type='radio' name='use_filter' value='existing' data-toggle="collapse" data-target='#post_filters.show' checked/>Use existing filters ({{ search_results.count | intcomma }} results, approximately {{ search_results.est_days_to_complete | intcomma }} days to download)</label>
                    </div>
                    {% if search_results.postFilters|length > 0 %}
                        <div class='input-group radio'>
                            <label><input type='radio' name='use_filter' id='use_suggested' data-toggle="collapse" data-target='#post_filters:not(.show)' value='suggested'/>Select additional filter(s)&nbsp;<a href='' role='button' onClick='return false;' data-trigger='focus' data-html='true' data-toggle='popover' title='Additional Filters' data-content='These are suggestions provided by LexisNexis to help narrow down your search further. They are grouped by the field they filter on and show how many results you could expect by adding that filter. You can select one or more of these and either submit your search directly or refresh the preview of the results with the new filters. <strong>Note that the filter values populated may appear in code instead of plain text.</strong>'>(?)</a></label>
                        </div>
                        <div id='post_filters' class='collapse form-row col-6'>
                            <select name='post_filters' class='sp' multiple data-live-search='true' data-width='100%' aria-label='post filters'>
                           {% for filterName, filterValues in search_results.postFilters.items %}
                                <optgroup label='{{ filterName }}'>
                                    {% for valueName, value in filterValues.items %}
                                        <option value='{{ filterName }}||{{ value.Value }}'>{{ valueName }} ({{ value.Count | intcomma }} results, {{ value.est_days_to_complete | intcomma }} day(s) to download)</span></option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %} 
                            </select>
                            <button type="submit" name='add-filters' class="btn btn-block btn-primary col-5 lmargin-10">Refresh Result Preview</button>
                        </div>
                    {% endif %}
                    <p>Select format(s) to download the results in:</p>
                    <div id='advanced_options'>
                        {% for format in available_formats %}
                        <div class='input-group checkbox'>
                            <label><input type='checkbox' name='selected-formats' value='{{ format.format_id }}' {% if forloop.first %} checked {% endif %}/>
                                {{ format.format_name }}&nbsp;<a href='#' role='button' onClick='return false;' data-trigger='focus' data-html='true' data-toggle='popover' title='{{ format.format_name }}' data-content='{{ format.help_text }}'>(?)</a>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" name='submit-search' class="btn btn-block btn-primary col-6 offset-4">Submit Search</button>
                </form>
            </div>
            <hr/>

            <h2 id='searchResultLbl'>Search Results Sample</h2>
            <span class='result-count'><strong>{{ search_results.count | intcomma }}</strong> result(s) found. Showing only the first <strong>{{ search_results.value | length }}</strong> result(s).</span><br/><br/>
            {% for result in search_results.value %}
                <div class='result'>
                    <span class='field-title'>Title: </span><span class='title'>{{ result.Title }}</span><br/>
                    <span class='field-title'>Date: </span><span class='date'>{{ result.Date|parse_iso|date:"F jS Y" }}</span>
                    <span class='field-title overview-title'>Overview: </span><span class='overview'>{{ result.Overview }}</span><br/>
                    {% if result.Document %}
                        <span class='field-title'>Full Text: <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#extract-{{forloop.parentloop.counter}}">Show/Hide</button></span><br/>
                        <div class='extract collapse' id='extract-{{forloop.parentloop.counter}}'>{{ result.Document.Content | safe }}</div><br/>
                    {% else %}
                        {% for extract in result.Extracts %}
                        <span class='field-title'>Extract: <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#extract-{{forloop.parentloop.counter}}-{{forloop.counter}}">Show/Hide</button></span><br/>
                        <div class='extract collapse' id='extract-{{forloop.parentloop.counter}}-{{forloop.counter}}'>{{ extract.SummaryText | safe }}</div><br/>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

       {% endif %} 
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="tipModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="tipModalLabel">Search Tips</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Why Build Better Searches?</h3>
            <p>As downloading is queued for nights and weekends, more effective searches can reduce the time for
results to be returned to researchers.</p>
            
            <h2>Selecting Filters</h2>
            <p>If no filters are provided, Text Assembler will search across all news sources in all languages for 
            all time periods. This can provide a very large number of results which will take a significant amount 
            of time to search.
            <br/><br/>
            In many cases, it will make sense to apply filters for only English language news or a date filter for 
            within the past month or year. Each one of the available filter options provides a help link ("?") to 
            give more insite as to what it will filter.
            </p>

            <h2>Building a Search Query</h2>
            <p>
            Queries using index fields instead of keyword searching retrieve more relevant results. Index searching is
            particularly useful when search terms are ambiguous.<br/><br/>
            For example: Amazon (company vs river) or ING (bank vs part of running, speaking, etc) 
            <br/><br/>
            You can construct your search using index fields to help prevent this. In some cases, the index field is 
            already a separate filter. For example: company(amazon). The 'company' index field can be filtered via the 
            search query, or using the Company filter option. But there are other index fields that are not available 
            as separate filters such as: 'state' and 'country' (which filters by country or region name).<br/><br/>
            Examples for these would be: state(indiana or michigan) country(middle east or iran).
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
