{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Search</h1>
    
    <form method="post" novalidate>
        <input type='hidden' display="none" id='id_form-TOTAL_FORMS' value="1"/>
        {% csrf_token %}
        <div class="row form-row spacer">
            <div class="col-2">
                <label>{{form.search.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.search}}
                </div>
            </div>
            <span class='required'>&nbsp;*</span>
        </div>
        <div class="row form-row spacer">
            <div class="col-2">
                <label>{{form.filter_opts.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.filter_opts}}
                </div>
            </div>
        </div>
        <div class="search_filters">
        </div>
        <div class="row spacer">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Search</button>
            </div>
        </div>
        <input type="hidden" id="post_data" value="{{ post_data }}" />
    </form>

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class='error'> Error! {{ field.label }}: {{ error }} </p>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if message %}
    <br/><p>{{ message }}</p>
    {% endif %}

{% endblock %}

