{% load humanize %}
{% load custom_tags %}
{% if is_admin %}
<label>
 <input type="checkbox" name='filter' value="Deleted" id="hide_deleted" checked> Hide Deleted Searches
</label>
<label class="indent">
 <input type="checkbox" name='filter' value="Completed" id="hide_completed"> Hide Completed Searches
</label>
{% endif %}
<table id='mysearches' class="table">
    <thead><tr>
    {% for h in headings %}
        <th scop='col' class="{{ h|lower|slugify }}-column">{{ h }}</th>
    {% endfor %}
    </tr></thead>
    <tbody>
        {% for s in searches %}
        <tr>
            <td class="search-column {{ headings.0|lower|slugify }}-column" data-order="{{ s.date_submitted|date:'YmdHis' }}">
                {{ s.date_submitted }}
            </td>
            <td class="search-column {{ headings.1|lower|slugify }}-column">
                {{ s.query|truncatechars:100}}
                <a href='' role='button' onClick='return false;' data-trigger='focus' data-html='true' data-toggle='popover'
                    title="Query Details"
                    data-content='<strong>Filters:</strong><br/>
                        {% if s.filters|length == 0 %}
                            None
                        {% endif %}
                        {% for f in s.filters %}
                            {{ f.filter_name }} = {{ f.filter_value }}<br/>
                        {% endfor %}
                        <br/>
                        <strong>Download Formats Selected</strong></br>
                        {% if s.download_formats|length == 0 %}
                            None
                        {% endif %}
                        {% for f in s.download_formats %}
                            {{ f.format_name }}<br/>

                        {% endfor %}
                        <br/>
                        <strong>Sort Order</strong></br>
                        {% if not s.sort_order %}
                            Relevance
                        {% else %}
                            {{ s.sort_order.sort_label }}
                        {% endif %}
                        <br/><br/>
                        <strong>Search Query</strong><br/>
                        {{ s.query }}
                    '>
                    (details)
                </a>
            </td>
            <td class="search-column {{ headings.2|lower|slugify }}-column" data-order="{{ s.percent_complete }}" data-search="{{ s.status }}">
                Status: {{ s.status }}
                <a href='' role='button' onClick='return false;' data-trigger='focus' data-html='true' data-toggle='popover' 
                    title="Progress Details" 
                    data-content='Downloaded {{ s.num_results_downloaded | intcomma }} out of {{ s.num_results_in_search |intcomma }} results<br/>
                        Last Progress Made: {{ s.update_date }}<br/>
                        Total Run Time: {% seconds_to_dhms s.run_time_seconds %} <br/>
                        {% if s.est_days_to_complete %} Est. Days Remaining: {{ s.est_days_to_complete | intcomma }} <br/>{% endif %}
                        {% if s.error_message %} Error Message: {{ s.error_message }}<br/>{% endif %}
                        {% if s.delete_date %} Date to be Deleted: {{ s.delete_date }}<br/>{% endif %}
                        '>
                    (details)</a>
                <br/>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ s.percent_complete }}%;" aria-valuenow="{{ s.percent_complete }}" aria-valuemin="0" aria-valuemax="100">{{ s.percent_complete }}%</div>
                </div>
            </td>
            {% if not is_admin %}
                <td class="search-column {{ headings.3|lower|slugify }}-column">
                {% for a in s.actions %}
                    <form method="{{ a.method }}" action="{% url a.action a.args %}" class='action-btn'>
                        {% csrf_token %} 
                        <button type="submit" class="btn {{ a.class }}"                
                    {% if a.label == "Delete"  %} onclick='return confirm("Delete the search and any results it may have?")' 
                    {% endif %}>{{ a.label }}
                    </button></form>
                {% endfor %}
                </td>
            {% endif %}
         </tr>
         {% endfor %}
    </tbody>
</table>
