{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<h1>Statistics</h1><hr/>


<form method="post" action="/admin/statistics">
{% csrf_token %}
<table>
<tr>
<td>From</td>
<td><input type="date" name="FromDate" class="form-control filter-date" value="{{from_date|date:'Y-m-d'}}" aria-label="From Date"></td>
<td>To:</td>
<td><input type="date" name="ToDate" class="form-control filter-date" value="{{to_date|date:'Y-m-d'}}" aria-label="To Date"></td>
<td><input type='submit' name='refresh' class='btn btn-primary' value="Refresh"></input></td>
</table></br>
</form>
<table id='statistics' class="table">
    <tr>
        <td>
        Searches Complete
        </td>
        <td>
        {{searches_complete|intcomma}}
        </td>
    </tr>
    <tr>
        <td>
        Files Downloaded
        </td>
        <td>
        {{files_downloaded|intcomma}}
        </td>
    </tr>
    <tr>
        <td>
        Site Searches Run
        </td>
        <td>
        {{site_searches_run|intcomma}}
        </td>
    </tr>
</table>

{% endblock %}
